@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617; /* slate-950 */
  color: #e2e8f0; /* slate-200 */
}
